main{
  height: 100vh;
  margin: 0 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.header{
  font-size: 4rem;
  font-family: $fontAdditional;
  text-align: center;
  color:transparent;
  position: relative;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg,$colorLight,$colorPurple);

}
h2{
  color: $colorPurple;
  font-size: 3rem;
  margin: -2.25rem 0 0;
  position: relative;
  z-index: 1;
  font-family: $fontAdditional;

}
input{
  margin: 3rem 0;
  padding: 1rem;
  width: 80%;
  border-radius: 999px;
}