@import 'settings/reset';
@import 'settings/fonts';
@import 'settings/colors';
@import 'background';
@import 'navigation';
@import 'mainPage';
@import 'repositories';

body{
  background: $colorMain;
  background-size: cover;
  min-height: 100vh;
  font-family: $fontMain;
  word-break: break-word;
}